/*PARTIE I*/

/*

#monaire1,
#monaire2 {
    display:block;
    margin-bottom:20px;
    width:150px;
    height:150px;
    border: 1px solid green;
    padding: 10px;
    line-height: 1.5;
    font-size: .8rem;
    letter-spacing: 1px;
}

.bg{
    background-color: tomato;
    color:#fff;
}

div {
    width: 100px;
    height: 100px;
    margin: 5px;
}

p {
    margin-top: 20px;
    border: 2px solid red;
    padding: 5px;
}

.orange {
    background-color: orange;
    color : blue;
}


.div2 {
    background-color: orange;
    color: black;
}

.newcolor {
    background-color: blue;
    color: white;    
}
*/



/*PARTIE II*/
/*exercice 1*/
#blou{
    position:relative;
    margin-top:20px;
    width:100px;
    height:100px;
    background-color: blue;
}



/*exercice 2*/


#bouton2{
    margin-top:100px;
}

#div1{
    position:relative;
    margin-top:20px;
    width:100px;
    height:100px;
    background-color: blue;
}

#div2{
    position:relative;
    margin-top:20px;
    width:100px;
    height:100px;
    background-color: orangered;
}

#div3{
    position:relative;
    margin-top:20px;
    width:100px;
    height:100px;
    background-color:greenyellow;
}

.rose{
    background-color: hotpink;
}

.violet{
    background-color: purple;
}



/*exercice 3*/

#bouton3{
    margin-top:100px;
}

#box{
    position:relative;
    margin-top:100px;
    width:50px;
    height:50px;
    background-color: green;
}


/*exercice 4*/
#bouton4{
    margin-top:100px;
}

#boite{
    position:relative;
    width:80px;
    height:80px;
    background-color: red;
}


/*exercice 5*/
#bouton5{
    margin-top:100px;
}

#paquet{
    position:relative;
    width:80px;
    height:80px;
    background-color: pink;
}


/*exercice 6*/
#bouton6{
    margin-top:100px;
}

#fantome{
    width: 50px;
    height: 30px;
    margin: 5px;
    float: left;
    background: green;
    margin-bottom: 300px;
}

